body{
    background: #677587;
    font-family: arial;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.all{
    height: 550px;
    width: 800px;
    margin: 35px 90px 0 90px;
}
.part1{
    height: 550px;
    width: 400px;
    background: #28314E;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-style: none;
    box-shadow: 15px 15px 25px;
    
}
.head{
    color: white;
    padding-top:100px ;
    text-align: center;
    font-size: 30px;
}

.text{
    color: white;
    width: 400px;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
}
.last1{
    color: white;
    text-align: center;

}
h4{
    text-align: center;
    color: white;
    padding-top: 20px;
}
img{
    height: 100px;
    width: 100px;
    padding-left: 150px;
    cursor:pointer;
}
.part2{
    height: 550px;
    width: 400px;
    position: relative;
    left: 400px;
    bottom: 575px;
    background: white;
    box-shadow: 15px 15px 25px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;


}
.head1{
    padding-top:100px ;
    text-align: center;
    font-size: 30px;

}
.text1{
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}
.fastname{
    margin-left: 20px;
    height: 30px;
}
.lastname{
    height: 30px;
    margin-top: 20px;

}
.email{
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    width: 350px;

}
.select{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;


}
.day{
    height: 30px;
    display: block;
    margin-left: 20px;
    width: 350px;

}
button{
    margin-left: 20px;
    margin-top: 20px;
    width: 350px;
    height: 30px;
    background: #006DFD;
    border-style: none;
    color: white;
    cursor: pointer;

}